*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-attachment:fixed;
}

.flex{
    display:flex;
}

.container-header{
    width:80%;
    height:50px;
    background-color: #E56104;
    margin:0% 10%;
    justify-content: center;
    justify-content: space-between;
    box-shadow: 3px 3px 3px gray;
}

.container-mid{
    width:80%;
    background-color: red;
    margin:3% 10%;
    justify-content: space-between;
     
}

.mrg{
    margin-top:100px;
}



.container-footer{
    width:80%;
    background-color: red;
    margin:0% 10%;
    justify-content: center;
    justify-content: space-between;
}

.box-header{
    width:15%;
    /* background-color: blue; */
    padding:10px;
}

.box-mid{
    width:30%;
    height:700px;
    background-color: blue;
    object-fit: contain;
}

.box-footer{
    width:10%;
    background-color: blue;
    border:1px solid black;

}

.text-nav{
    font-size: 1rem;
    color:white;
    padding:10px;
    
}

.logo{
    width:60%;
    padding-top:5px;
    

    
}


.img{
    width:100%;
    height:100%;
    
    
    
}

.title-description{
    font-weight: bold;
}

.levis{
margin-top:10px;
disply:inline;
}

.price-1{
    color:red;
    font-weight: bold;
    display: inline;
    
}

.price-2{
    padding-left:5px;
    display: inline;
    text-decoration-line: line-through;
}


.box-mid:hover .img-1{
    display:none; 
}

.box-mid:hover .img-2{
    display:inline-block;
}

.img-2{
    display:none;
   
}

.relative{
    position:relative;
}

.inside{
    position:absolute;
    left:0;
    bottom:50px;
}

.box{
    font-weight: bold;
    color:white;
    padding:5px;
    
}

.red{
    background-color:red;
    display: inline;
}

.green{
    background-color: green;
    display: inline;
}

.fa-solid{
    position: absolute;
    top:10px;
    right:0;
    background-color: white;
    font-size: 25px;
    padding:10px;
}

.red-heart{
    color:red;
    display: none;
    
}




