* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-attachment: fixed;
}

span {
    font-size: 1.2rem;
    color: white;
    padding-right: 5px;
}

.flex {
    display: flex;
}

.container-header {
    width: 80%;
    height: 50px;
    background-color: #E56104;
    margin: 0% 10%;
    justify-content: center;
    justify-content: space-between;
    box-shadow: 3px 3px 3px gray;
}

.container-mid {
    width: 80%;
    /* background-color: red; */
    margin: 3% 10%;
    justify-content: space-between;

}

.mrg {
    margin-top: 100px;
}



.container-footer {
    width: 100%;
    background-color: rgb(18, 17, 17);
    margin-top: 7%;
    height: 100px;
    justify-content: space-around;


}

.box-header {
    width: 15%;
    /* background-color: blue; */
    padding: 10px;
    font-weight: bold;
}

.box-mid {
    width: calc(100%/3 - 10px);
    height: 700px;
    background-color: blue;
    object-fit: contain;
}

.box-footer {
    width: 30%;
    /* background-color: blue; */



}

.text-nav {
    font-size: 1rem;
    color: white;
    padding: 10px;

}

.logo {
    width: 60%;
    padding-top: 5px;


}


.img {
    width: 100%;
    height: 100%;



}

.title-description {
    font-weight: bold;
}

.levis {
    margin-top: 10px;

}

.price-1 {
    color: red;
    font-weight: bold;
    display: inline;

}

.price-2 {
    padding-left: 5px;
    display: inline;
    text-decoration-line: line-through;
}


.box-mid:hover .img-1 {
    display: none;
}

.box-mid:hover .img-2 {
    display: inline-block;
}

.img-2 {
    display: none;

}

.relative {
    position: relative;
}

.inside {
    position: absolute;
    left: 0;
    bottom: 50px;
}

.box {
    font-weight: bold;
    color: white;
    padding: 5px;

}

.red {
    background-color: red;
    display: inline;
}

.green {
    background-color: green;
    display: inline;
}

.color-1 {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    font-size: 25px;
    padding: 10px;
    z-index: 1;
}


.color-2 {

    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    font-size: 25px;
    padding: 10px;
    color: red
}

.color-1:hover {
    display: none;
}

.srl {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 20px;
    color: white;
    line-height: 40px;
    display: block;
}

.header-icons{
    margin-top:5px;
    color: white;
    word-spacing: 5px;
}

.footer-icons{
    color:white;
    margin-top:50px;
    font-size: 25px;
    word-spacing: 5px;
    position: absolute;
    right: 0;
}

.trovaci{
    color:white;
    font-weight: bold;
    position: absolute;
    right: 15px;
    bottom:55px;

}